{% extends "base.html" %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">
                <a href="{% url 'index' %}">Present Ideas</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
                <a href="{% url 'what_do' username %}">
                    I am {{ username }}
                </a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
                <a href="{% url 'present_list' username their_name %}">
                    {{ their_name }}'s List
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Delete "{{ thing.Thing }}"
            </li>
        </ol>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col"><h1>Really Delete?</h1></div>
        </div>
        <div class="row my-4">
            <div class="col">
            {% with row=thing %}
                {% include "thing.html" %}
            {% endwith %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a
                    href="{{ list_url }}"
                    class="btn btn-secondary btn-block"
                >
                    Go back
                </a>
            </div>
            <div class="col">
                <form method="POST">
                    {% csrf_token %}
                    <button
                        type="submit"
                        class="btn btn-danger btn-block"
                    >
                        Delete
                    </button>
            </div>
        </div>
    </div>
{% endblock content %}