{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">List</h5>
                    </div>
                    <div class="card-body card-columns">
                            {% for row in rows %}
                                <div
                                    class="
                                        card
                                        {% if show_claimed and row.Claimed %}
                                            bg-secondary text-white
                                        {% endif %}
                                    "
                                >
                                    <div class="card-header">
                                        <h5 class="card-title m-0">
                                            {{ row.Thing|urlizetrunc:40 }}
                                        </h5>
                                        {% if row.Price %}
                                            <p class="card-text text-right text-muted">
                                                {{ row.Price }}
                                            </p>
                                        {% endif %}
                                    </div>
                                    {% if row.Notes %}
                                        <div class="card-body">
                                            <p class="card-text">
                                                {{ row.Notes|urlizetrunc:100 }}
                                            </p>
                                        </div>
                                    {% endif %}
                                    {% if show_claimed %}
                                        <div class="card-footer">
                                            {% if row.Claimed %}
                                                <p>
                                                    Claimed by 
                                                    {% if row.Claimed|lower == username|lower %}
                                                        you!
                                                    {% else %}
                                                        {{ row.Claimed }}
                                                    {% endif %}
                                                </p>
                                                <a href="{% url 'unclaim' username their_name forloop.counter %}">
                                                    Clear?
                                                </a>
                                            {% else %}
                                                <a
                                                    href="{% url 'claim' username their_name forloop.counter %}"
                                                    class="btn btn-block btn-primary"
                                                >Claim!</a>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <form class="form-horizontal" method="POST">
                            <h5 class="card-title">Add New</h5>
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="thing-input">Thing</label>
                                <input
                                    type="text"
                                    name="thing"
                                    id="thing-input"
                                    class="form-control"
                                    placeholder="Thing name"
                                    required
                                >
                            </div>
                            <div class="form-group">
                                <label for="price-input">Price</label>
                                <input
                                    type="number"
                                    name="price"
                                    id="price-input"
                                    class="form-control"
                                    min="0"
                                >
                            </div>
                            <div class="form-group">
                                <label for="notes-input">Notes</label>
                                <textarea
                                    name="notes"
                                    id="notes-input"
                                    cols="30"
                                    class="form-control"
                                    rows="10"
                                ></textarea>
                            </div>
                            <button
                                type="submit"
                                class="btn btn-success btn-block">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}