{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="jumbotron">
            <h1>Present Ideas</h1>
            <hr class="my-4" />
            <div class="row">
                <div class="col">
                    <p>What do you want to do?</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="#" class="btn btn-primary btn-block">Manage my list</a>
                </div>
                <div class="col">
                    <a
                      href="{{ who_url }}"
                      class="btn btn-secondary btn-block"
                    >
                      See another person's list
                    </a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}