{% extends "base.html" %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">
              <a href="{% url 'index' %}">Present Ideas</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              I am {{ username }}
            </li>
        </ol>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="jumbotron">
            <h1>Present Ideas</h1>
            <hr class="my-4" />
            <div class="row">
                <div class="col-sm">
                  <form method="POST" action="{{ who_url }}">
                    {% csrf_token %}
                        <div class="row">
                          <label for="name-input">
                            Look at someone else's list
                          </label>
                          <input
                            type="text"
                            name="name"
                            id="name-input"
                            placeholder="Their name"
                            class="form-control form-control-lg col-sm-10"
                            autofocus
                          />
                          <button type="submit" class="btn btn-block btn-success col-sm-2">
                            👉
                          </button>
                        </div>
                  </form>
                </div>
                <div class="col-sm-auto">
                  Or
                </div>
                <div class="col-sm">
                  <p>Look at your own list</p>
                  <a href="{{ me_url }}" class="btn btn-primary btn-block">
                    Go!
                  </a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}