{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="jumbotron">
            <h1>Present Ideas</h1>
            <hr class="my-4" />
            <div class="form-group m-0">
              <form method="POST">
                {% csrf_token %}
                  <label for="name">Who's list do you want to see?</label>
                  <div class="row">
                    <input
                      type="text"
                      name="name"
                      id="name-input"
                      placeholder="Their name here!"
                      class="form-control form-control-lg col-sm-10"
                      autofocus
                    />
                    <button type="submit" class="btn btn-block btn-success col-sm-2">👉</button>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}